body{
    margin: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: rgb(39, 129, 122); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right;
}

.left-login > h1{
    color: #daa520;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 20px;
    box-shadow: 10px -10px 40px #0000;
}


.card-login > h1{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow:  10px -10px 40px #0000;
    outline: none;
    box-sizing: border-box;
}